.questions-container{
    /* background-color: tomato; */
    width: 100vw;
    min-height: 100vh;

    padding: 20px 15px;
    
    background-color: #f4fbf2;
}

.questions-container h1{
    font-size: 30px;
    height: 70px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    border-radius: 20px;
    background-color: #0091d6;
    box-shadow: 1px 5px 1px rgb(0, 52, 196);
}

.questions-container .alternatives-container{
    /* background-color: orange; */
    height: 400px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.alternatives-container span{
    width: 170px;
    height: 170px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    font-size: 30px;

    border-radius: 20px;
    background-color: #fee000;
    box-shadow: 0px 5px 1px rgba(228,131,1,255);
}